.headrStyle{
  background-color:#cdc8fa;
}
.logo {
  width: 10vh;
  height: 9vh;
}
.search {
  padding: 20px 0;
 
}

.search .width {
  width: 20%;
}
.search-box {
  width: 80%;
  border: 2px solid rgba(124, 23, 206, 0.1);
  /*padding: 10px;*/
  border-radius: 50px;
  box-shadow: rgba(124, 23, 206, 0.1) ;
}
.search-box i {
  width: 5%;
  text-align: center;
  font-size: 20px;
  opacity: 0.5;
  padding: 15px 20px;
  font-size: 17px;
}
.search-box input {
  width: 100%;
  padding: 10px;
  background-color:#f0eeee;
}
::placeholder {
  font-size: 15px;
  color:rgb(10, 10, 10);
}
.search-box span {
  width: 20%;
  opacity: 0.5;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.search .cart span {
  position: absolute;
  top: -10px;
  right: 0px;
  width: 20px;
  height: 1Opx;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(255, 90, 1);
  font-size: 12px;
  color: #cdc8fa;
}
.search .f_flex {
  justify-content: end;
}
/*------search-----------*/
.catgrories {
  background-color: #cdc8fa;
  padding: 0px 10px;
  border-radius: 3px;
  height: 4vh;
  margin-top: 0px;
}
.catgrories span {
  margin-right: 10px;
  font-size: 30px;
  margin-top: 0px;
}
.catgrories h4 {
  font-weight: 500;
  margin-top: 0px;
}
.catgrories h4 i {
  margin-left: 10px;
}
header {
  height: 5vh;
  box-shadow: -1px 15px 17px -8px rgba(0, 0, 0, 0.1);
}
header ul {
  line-height: 5vh;
}
header ul li {
  margin-left: 30px;
}
header ul li a {
  transition: 0.5s;
  font-size: 15px;
  font-weight: 400;
}
header ul li a:hover {
  color: rgb(255, 90, 1);
}


.search.active {
  height: 12vh;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

@media (max-width: 768px) {
  header ul {
    padding-top: 30px;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, #fff(248, 247, 247, 0.3) 0px 30px 60px -30px;
    left: 0;

    top: 0;
    transition: all 0.5s ease-in-out;
    width: 60%;
    height: 50vh;
    background-color: white;
    z-index: 888;
  }
  header ul li {
    width: 100%;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
    line-height: 70px;
  }
  header .link {
     color: #fff;
  }
  .nav-link:hover {
    color: #fff;
  }
  .header.active {
    height: 6vh;
  }
}
